name: Lighthouse Check

on: [push]

jobs:
  lighthouse:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: treosh/lighthouse-ci-action@v11
        with:
          urls: |
            https://kavya087.github.io/Modeling-Adoption-Dynamics-in-International-Development/
          budgetPath: ./budget.json
